<p-card class="flex flex-col min-h-[450px]">
    <ng-template #header>
        <!-- <img alt="Card"  src="{{image()}}" /> -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4938.990817619056!2d-9.219467320129205!3d38.75523806112134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-PT!2spt!4v1753104140182!5m2!1spt-PT!2spt" class="w-full"></iframe>
    </ng-template>
    <ng-template #title> {{district()}} </ng-template>
    <ng-template #subtitle> {{street()}}</ng-template>
    <p>
        {{description()}}
    </p>
    <ng-template #footer>
        <div class="flex gap-4 mt-1">
            <p-button label="Open Maps"  />
        </div>
    </ng-template>
</p-card>
